* {
    padding: 0;
    margin: 0;
}

.navi {
    background: #000;
}

.icon {
    background: url("icon1.png") #000 no-repeat center center;
    width: 134px;
    height: 50px;
    margin: 20px;
    margin-left: 10%;
    display: inline-block;
}

.title {
    width: 999px;
    height: 90px;
    display: inline-block;
}

.title li {
    float: left;
    list-style: none;
}

.box a {
    height: 32px;
    display: block;
    margin: 32px 36px;
    font-size: 18px;
    text-decoration: none;
    color: #eeeeee;
}

.box .title li:hover {
    background: #333;
}


/*--------------------------------------------*/
.lc-form{
	padding:30px;
	background: rgba(16, 169, 2, 0.69);
	color: #d6e9ee;
    font-size: 28px;
    text-align:center;
}
.lc-input{
	margin:12px;
	background: rgba(166, 201, 210, 0.52);
	color: #d6e9ee;
    font-size: 28px;
    text-align:center;

}
input{

    background: rgba(0, 255, 241, 0.03);
    readonly:readonly;
    border: #00c4ff;
    font-size: 28px;
    padding:6px;

}

.falk{
    background: #1cff40;
}
