* {
    margin: 0;
    padding: 0;
}

body {
    background: #e1e5e8;
}

.container {
    width: 960px;
    height: 450px;
    margin: 60px auto;
    position: relative
}

.pic {
    width: 160px;
    padding: 10px 10px 15px;
    background: #FFFFFF;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.4);
    z-index: 1;
    position: absolute;


    -webkit-transition: all 0.5s ease-in;//动画效果
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

/*.container img{*/

/*}*/

.container img:hover {
    z-index: 2;
    transform: rotate(0deg) scale(1.2);
    -web-transform: rotate(0deg) scale(1.2);
    box-shadow: 15px 15px 20px rgba(50, 50, 50, 0.4);
}

.pic1 {
    left: 0px;
    top: 0;
    transform: rotate(-5deg);
    -web-transform: rotate(-5deg);
}
.pic2 {
    left: 220px;
    top: 20px;
    transform: rotate(15deg);
    -web-transform: rotate(15deg);
}.pic3 {
    left: 400px;
    top: 0;
    transform: rotate(-15deg);
    -web-transform: rotate(-20deg);
}.pic4 {
    left: 511px;
    top: 0;
    transform: rotate(25deg);
    -web-transform: rotate(25deg);
}.pic5 {
    left: 120px;
    top: 200px;
    transform: rotate(-11deg);
    -web-transform: rotate(-12deg);
}.pic6{
    left: 0px;
    top: 350px;
    transform: rotate(9deg);
    -web-transform: rotate(9deg);
}.pic7 {
    left: 200px;
    top: 400px;
    transform: rotate(-25deg);
    -web-transform: rotate(-25deg);
}.pic8 {
    left: 310px;
    top: 222px;
    transform: rotate(11deg);
    -web-transform: rotate(11deg);
}.pic9 {
    left: 500px;
    top: 400px;
    transform: rotate(-15deg);
    -web-transform: rotate(-15deg);
}